:root {
  --font-family: "Gotham Pro", sans-serif;
  --content-width: 1470px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --mainblack-color: #000;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/../fonts/gothampro.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/../fonts/gothampro_black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/../fonts/gothampro_bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  position: relative;
  margin: 0;
  min-width: 375px;
  min-height: 100%;
  font-size: 16px;
  font-weight: 400;
  color: var(--mainblack-color);
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}
@media (max-width: 1500px) {
  .container {
    max-width: 90%;
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.hero__wrapper {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
  min-height: 750px;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.hero__title {
  font-size: 86px;
  line-height: 120%;
  color: #303030;
  font-weight: 700;
  margin: 0 0 50px 0;
}
.hero__descr {
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  color: #303030;
  margin: 0 0 40px 0;
}
.hero__button {
  position: relative;
  width: 270px;
  height: 60px;
  background-color: #bab2b2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 13px 25px;
  border: 1px solid #bab2b2;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.4);
  -webkit-transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  margin: 0;
}
.hero__button span {
  color: #fff;
  font-size: 20px;
  line-height: 100%;
}
.hero__button:hover {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.6);
  background-color: #989292;
}

.modal {
  --transition-time: 0.3s;
  position: fixed;
  inset: 0;
  z-index: 100000;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity var(--transition-time), visibility var(--transition-time);
  -o-transition: opacity var(--transition-time), visibility var(--transition-time);
  transition: opacity var(--transition-time), visibility var(--transition-time);
}
.modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.modal::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.modal__container {
  position: relative;
  width: 750px;
  height: 450px;
  margin: 10px auto;
  display: none;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 20px;
  cursor: default;
  text-align: left;
}

.modal.is-open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity var(--transition-time), visibility var(--transition-time);
  -o-transition: opacity var(--transition-time), visibility var(--transition-time);
  transition: opacity var(--transition-time), visibility var(--transition-time);
}

.modal__container.modal-open {
  display: inline-block;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity var(--transition-time);
  -o-transition: opacity var(--transition-time);
  transition: opacity var(--transition-time);
}

.fade.animate-open {
  opacity: 1;
  -webkit-transition: opacity var(--transition-time);
  -o-transition: opacity var(--transition-time);
  transition: opacity var(--transition-time);
}

.fadeInUp {
  opacity: 0;
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
  -webkit-transition: opacity var(--transition-time), -webkit-transform var(--transition-time);
  transition: opacity var(--transition-time), -webkit-transform var(--transition-time);
  -o-transition: opacity var(--transition-time), transform var(--transition-time);
  transition: opacity var(--transition-time), transform var(--transition-time);
  transition: opacity var(--transition-time), transform var(--transition-time), -webkit-transform var(--transition-time);
}

.fadeInUp.animate-open {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: opacity var(--transition-time), -webkit-transform var(--transition-time);
  transition: opacity var(--transition-time), -webkit-transform var(--transition-time);
  -o-transition: opacity var(--transition-time), transform var(--transition-time);
  transition: opacity var(--transition-time), transform var(--transition-time);
  transition: opacity var(--transition-time), transform var(--transition-time), -webkit-transform var(--transition-time);
}

.disable-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.modal-close {
  position: absolute;
  right: 16px;
  top: 16px;
  border: none;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.001 512.001' style='enable-background:new 0 0 512.001 512.001;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717 L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859 c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287 l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285 L284.286,256.002z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  cursor: pointer;
}

.block__image-box {
  position: relative;
  width: 41.3%;
  height: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #efefef;
  padding: 49px 12px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.block__image-text {
  font-weight: 900;
  font-size: 92px;
  line-height: 88px;
  color: #000;
  text-transform: uppercase;
  mix-blend-mode: soft-light;
  text-align: center;
}
.block__image-book {
  position: absolute;
  left: -50px;
  top: 46px;
  display: inline-block;
  width: 394px;
  height: 337px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/modal-book.svg");
  z-index: 5;
}
.block__image-arrow {
  position: absolute;
  bottom: 66px;
  left: 229px;
  display: inline-block;
  width: 120px;
  height: 60px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/arrow.svg");
  z-index: 6;
}
.block__body {
  width: 58.7%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 28px;
}
.block__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  color: #0d0d0d;
  margin: 0 0 48px 0;
}
.block__box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin: 0 0 34px 0;
  max-width: 300px;
}
.block__text-1 {
  font-size: 14px;
  line-height: 120%;
  color: #0d0d0d;
  margin: 0 0 7px 0;
}
.block__text-bold {
  font-weight: 900;
  font-size: 20px;
  line-height: 100%;
  color: #0d0d0d;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}
.block__text-2 {
  font-size: 14px;
  line-height: 120%;
  color: #0d0d0d;
  margin: 0;
}
.block__text-middle {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #0d0d0d;
  margin: 0 0 15px 0;
}
.block__text-3 {
  font-size: 12px;
  line-height: 120%;
  color: #0d0d0d;
  margin: 0;
}
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.form__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #000;
  margin: 0 0 10px 0;
}
.form__input {
  width: 323px;
  height: 50px;
  color: var(--mainblack-color);
  border: 2px solid #f3ce00;
  outline: none;
  padding: 15px;
  caret-color: #0d0d0d;
  margin: 6px 0 5px 0;
}
.form__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 100%;
  color: #0d0d0d;
}
.form__input::-moz-placeholder {
  font-size: 14px;
  line-height: 100%;
  color: #0d0d0d;
}
.form__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 100%;
  color: #0d0d0d;
}
.form__input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 100%;
  color: #0d0d0d;
}
.form__input::placeholder {
  font-size: 14px;
  line-height: 100%;
  color: #0d0d0d;
}
.form__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -o-linear-gradient(357.36deg, #ff5621 29.24%, #f21313 83.67%);
  background: linear-gradient(92.64deg, #ff5621 29.24%, #f21313 83.67%);
  border-radius: 4px;
  width: 323px;
  height: 50px;
  padding: 10px 15px;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.form__button span {
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  text-transform: uppercase;
}
.form__button:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.4);
}

.form__input.just-validate-error-label {
  font-size: 12px;
  color: #ff3654;
}

.form__input.just-validate-error-field {
  border: 1px solid #ff3654;
}

.form__input.just-validate-success-field {
  border: 1px solid #13bd38;
}

.form__input.focus-visible {
  border: 1px solid #a3a3a3;
}